<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ecom.mbc.pojo.Student">
	<insert id="add" parameterType="ecom.mbc.pojo.Student">
		insert into students (id, name, sal) values (#{id},#{name},#{sal});
	</insert>
</mapper>
